/Releases/build/Alternate-Kicad-Library-4.0.2/footprints/
/Releases/build/Alternate-Kicad-Library-4.0.2/resources/
/Releases/build/Alternate-Kicad-Library-4.0.2/symbols/
/Releases/build/Alternate-Kicad-Library-4.0.2/metadata.json
